# Performance Evaluation

In [1]:
import pandas as pd

In [29]:
df = pd.read_csv("../new_results.csv")
df.head()

,Unnamed: 0,match_name,match_date,format,predicted_score,predicted_std,actual_score,optimal_score,performance_ratio,Player1,...,Top_player7,Top_score7,Top_player8,Top_score8,Top_player9,Top_score9,Top_player10,Top_score10,Top_player11,Top_score11
0,162,MI_New_York-Washington_Freedom-2024-07-06-male...,2024-07-06,T20,521.00,104.80,381,584,0.652397,N Pooran,...,GJ Maxwell,41.0,R Clinton,37.0,M Jansen,35.0,LH Ferguson,31.0,TA Boult,28.0
1,169,Bhutan-Singapore-2024-07-06-female-T20,2024-07-06,T20,232.40,105.87,293,469,0.624733,N Choden,...,A Gurung,35.0,GK Diviya,35.0,JS Pooranakaran,35.0,Y Choden,34.0,Chado Om,31.0
2,156,Zimbabwe-India-2024-07-06-male-T20,2024-07-06,T20,627.30,105.36,484,770,0.628571,BJ Bennett,...,LM Jongwe,44.0,Shubman Gill,44.0,B Muzarabani,41.0,WP Masakadza,39.0,C Madande,37.0
3,147,England-New_Zealand-2024-07-06-female-T20,2024-07-06,T20,578.86,132.15,550,711,0.773558,DN Wyatt,...,SW Bates,60.0,CE Dean,54.0,JM Kerr,54.0,LCN Smith,31.0,AC Kerr,31.0
4,148,Leicestershire-Derbyshire-2024-07-06-male-T20,2024-07-06,T20,517.58,102.56,553,722,0.765928,RK Patel,...,J Hull,54.0,TAR Scriven,37.0,AHT Donald,33.0,SB Wood,31.0,SG Budinger,23.0

## Overall Performance

In [30]:
df["performance_ratio"].mean()

0.7111745348167597

### Formats

In [35]:
df[df["format"] == "T20"]["performance_ratio"].mean()

0.7166099212610079

In [36]:
df[df["format"] == "ODI"]["performance_ratio"].mean()

0.6918774681974093

In [40]:
df[df["format"] == "Test"]["performance_ratio"].mean()

0.6812368122418295

### International Teams

In [48]:
intl_teams = ["Afghanistan", "Australia", "Bangladesh", "England", "India", 
              "Ireland", "New Zealand", "Pakistan", "South Africa", "Sri Lanka", 
              "West Indies", "Zimbabwe"]

df[df["match_name"].apply(lambda x: any(team in x for team in intl_teams))]["performance_ratio"].mean()

0.7210100801777185

In [49]:
df[df["format"] == "T20"][df["match_name"].apply(lambda x: any(team in x for team in intl_teams))]["performance_ratio"].mean()

C:\Users\Sanidhya\AppData\Local\Temp\ipykernel_15580\3970469359.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["format"] == "T20"][df["match_name"].apply(lambda x: any(team in x for team in intl_teams))]["performance_ratio"].mean()

0.7284958236011431

In [53]:
df[df["match_name"].apply(lambda x: "male" in x)]["performance_ratio"].mean()

0.7111745348167597

In [55]:
df[df["match_name"].apply(lambda x: "female" in x)]["performance_ratio"].mean()

0.7438860429413973

## IPL Performance

In [ ]:
ipl_teams = ["Chennai_Super_Kings", "Delhi_Daredevils", "Delhi_Capitals", "Kings_XI_Punjab", 
             "Kolkata_Knight_Riders", "Mumbai_Indians", "Rajasthan_Royals", "Royal_Challengers_Bangalore", 
             "Sunrisers_Hyderabad", "Pune_Warriors", "Rising_Pune_Supergiant", "Gujarat_Lions", "Deccan_Chargers",
             "Kochi_Tuskers_Kerala", "Punjab_Kings", "Lucknow_Super_Giants"]

df[df["match_name"].apply(lambda x: any(team in x for team in ipl_teams))] # Actaully, no IPL matches in the test set

Empty DataFrame
Columns: [Unnamed: 0, match_name, match_date, predicted_score, predicted_std, actual_score, optimal_score, performance_ratio, Player1, Predicted_score1, Player2, Predicted_score2, Player3, Predicted_score3, Player4, Predicted_score4, Player5, Predicted_score5, Player6, Predicted_score6, Player7, Predicted_score7, Player8, Predicted_score8, Player9, Predicted_score9, Player10, Predicted_score10, Player11, Predicted_score11, Top_player1, Top_score1, Top_player2, Top_score2, Top_player3, Top_score3, Top_player4, Top_score4, Top_player5, Top_score5, Top_player6, Top_score6, Top_player7, Top_score7, Top_player8, Top_score8, Top_player9, Top_score9, Top_player10, Top_score10, Top_player11, Top_score11]
Index: []

[0 rows x 52 columns]